    <form class="game_form" method='POST' action='/'>
      <div id="select-inputs">
      <% (0..3).each do |i| %>
        <select class="user-color" name="user_color_<%= i %>">
          <% session[:game].colors.each_pair do |k, v|%>
            <% if session[:guess_list] == [] %>
              <option value=<%=v%> name=<%=k%>><%= k %></option>
            <% elsif session[:guess_list].last[i] == v %>
              <option value=<%=v%> name=<%=k%> selected="selected" ><%= k %></option>
            <% else %>
              <option value=<%=v%> name=<%=k%>><%= k %></option>
            <% end %>
          <% end %>
        </select> 
      <% end %>
      </div>
      <input class="round_submit" type="submit" value="Guess" href="/game"/>  
    </form>