<div class="left_half">
  
  <h1>Mastermind</h1>
  <h3>Rules</h3>
  <ul class="rules">
    <li>Each round the player must guess 4 colors</li>
    <li>The pegs on the right give feedback based on your guess:</li>
    <li>A red peg is a correct color in the correct position</li>
    <li>A white pegs is a correct color in an incorrect position</li>
    <li>There can be duplicate colors</li>
    <li>Have fun!</li>
  </ul>
  <form class="game_form" method='POST' action='/game'>
  
  <%(0).upto(3).each do |i| %>
    <select id="user_color_<%= i %>" name="user_color_<%= i %>">
      <option value=" #c0392b ">Red</option>
      <option value=" #27ae60 ">Green</option>
      <option value=" #3498db ">Blue</option>
      <option value=" #f1c40f ">Yellow</option>
      <option value=" #e67e22 ">Orange</option>
      <option value=" #8e44ad ">Purple</option>
    </select> 
  <% end %><br/>
  
  <input class="round_submit" type="submit" value="Guess!" href="/game"/>  
  
  </form>
  <form method='GET' action='/'>
    <input type="submit" value="Home" href="/"/>
  </form>

  <h3> Round # <%= GAME.round_count%>! </h3><br/>
  <h3><%= GAME.end_message %>
</div>

<div class="right_half">
  
  <div class="game_board">
    <%(11).downto(0).each do |r| %>
      <div class="round_pegs">
        <%(0).upto(3).each do |i| %>
          
          <% if !session[:guess_list][r].nil? %>
          <div class="colored_peg" 
          style="background-color:<%= session[:guess_list][r][i]%>"></div>
          <% else %> 
          <div class="colored_peg" style="background-color: black"></div>
          <% end %>

        <% end %> 
      </div>
    <% end %>
  </div>
  
  <div class="game_board_key">
    <%(11).downto(0).each do |r| %>
      <div class="round_keys">
        <%(0).upto(3).each do |i| %>
          
          <% if !session[:key_list][r].nil? %>
          <div class="key_peg" 
          style="background-color: <%= session[:key_list][r][i]%>"></div>
          <% else %> 
          <div class="key_peg" style="background-color: black"></div>
          <% end %>
        
        <% end %> 
      </div>
    <% end %>
  </div>
</div>


