<div class="left_half">
  <h1>Mastermind</h1>
  <form method='POST' action='/game'>
  <%(0).upto(3).each do |i| %>
    <select id="user_color_<%= i %>" name="user_color_<%= i %>">
      <option value="1">Red</option>
      <option value="2">Green</option>
      <option value="3">Blue</option>
      <option value="4">Yellow</option>
      <option value="5">Orange</option>
      <option value="6">Purple</option>
    </select> 
  <% end %><br/>
  <input type="submit" value="Submit" href="/game"/>  
  </form>
  <form method='GET' action='/'>
    <input type="submit" value="Home" href="/"/>
  </form>
  <%= locals %>
</div>
<div class="right_half">
  <div class="game_board">
    <%(11).downto(0).each do |r| %>
      <div class="round_pegs" id="rp_<%= r %>">
        <%(0).upto(3).each do |i| %>
        <div class="colored_peg" id="rp_<%= r %>cp_<%= i %>"></div>
        <% end %> 
      </div>
    <% end %>
  </div>
  <div class="game_board_key">
    <%(11).downto(0).each do |r| %>
      <div class="round_keys" id="rk_<%= r %>">
        <%(0).upto(3).each do |i| %>
        <div class="key_peg" id="rk_<%= r %>kp_<%= i %>"></div>
        <% end %> 
      </div>
    <% end %>
  </div>
</div>